<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div>
        <h1>Se ha agregado un registro</h1>
    </div>
    <a href="index.html">Inicio</a>
    <a href="Contacto.html">Contacto</a>
    <a href="registrar.html">Alumno</a>
    <a href="inscribir.html">Inscribir</a>

    <form >
        <fieldset>
            <legend>Registrado</legend>
            
            <div>
                <label >Identificador: <%= id_curso%></label>
            </div>
            <div>
                <label >Curso: <%= nombre%></label>
            </div>

        </fieldset>
    </form>
</body>
</html>